/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/

body {
    font-family: 'Nanum Gothic', 'Gulim', serif;
    color: #000000;
}
header h2 {
    margin-top: 5px;
    font-size: 1.2em;
}
section {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: solid 1px #EEE;
    box-shadow: 2px 2px 3px #CCC;
}
section p {
    font-size: 1.0em;
}
section ul {
    list-style: none;
    padding-left: 5px;
}
section ul li {
    padding: 1px;
    list-style: inside;
    margin: 0 15px;
}
section li {
    margin-top: 10px;
    margin-bottom: 10px;
}
section h1 {
    border-bottom: solid 1px #ccc;
    margin-bottom: 5px;
}
code {
    padding: 4px 5px;
    margin-top: 8px;
    display: block;
}

dl.arguments-desc {
    font-size: 14px;
    padding: 5px 5px 5px 25px;
    background-color: #f2f2f2;
    border: solid 1px #ddd;
}

dl.arguments-desc dt {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 5px;
}
dl.arguments-desc dd {
    font-size: 1.0em;
    margin-bottom: 15px;
}

#gravata {
    float: left;
    margin-right: 20px;
}

.contributer {
    padding: 10px 20px;
    overflow: hidden;
}

footer {
    clear: both;
}