/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/

body {
    font-family: 'Nanum Gothic', 'Gulim', serif;
    color: #000000;
}
.inner {
    max-width: 900px;
    margin: 0 auto;
}
header h2 {
    margin-top: 5px;
    font-size: 1.2em;
}
section {
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: solid 1px #EEE;
    box-shadow: 2px 2px 3px #CCC;
}
section p {
    font-size: 1.0em;
    width: 100%;
}
section ul {
    list-style: none;
    padding-left: 5px;
}
section ul li {
    padding: 1px;
    list-style: inside;
    margin: 5px 15px;
    width: 100%;
}
section h1 {
    border-bottom: solid 1px #ccc;
    margin-bottom: 5px;
    width: 100%;
}
code {
    padding: 4px 5px;
    margin-top: 8px;
    display: block;
}

dl.arguments-desc {
    font-size: 14px;
    padding: 5px 5px 5px 25px;
    background-color: #f2f2f2;
    border: solid 1px #ddd;
}

dl.arguments-desc dt {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 5px;
}
dl.arguments-desc dd {
    font-size: 1.0em;
    margin-bottom: 15px;
}

#gravata {
    float: left;
    margin-right: 20px;
}
#downloads {
    text-align: center;
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

#downloads a {
    float: none;
    display: inline-block;
    margin-right: 0;
    margin-left: 10px;
}

.contributer {
    padding: 10px 20px;
    overflow: hidden;
}

footer {
    clear: both;
}

pre, code, pre span, code span, a {
    text-overflow: clip !important;
    word-wrap: break-word;
    /*word-break: break-word !important;*/
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    body section ul {
        margin: 0 !important;
        padding: 0 !important;
    }
    section {
        margin: 1%;
    }
    #gravata {
        text-align: center;
        float: none;
        margin: 0 auto;
    }
    #container {
        margin-top: 150px;
    }
}
